body {
    margin: 0;
    padding: 0;

    background-image: url('travel_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: dodgerblue;
    padding: 0 20px;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

#companyName {
    margin: 0;
    flex: 1;
}

#navLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 2;
    justify-content: center; 
}

.searchContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#navLinks li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
}

.searchResults {
    display: none;
    width: 50%;
    margin-top: 110px;
    margin-left: 50px;
    padding: 20px;
    border-width: 4px;
    border-color: rgb(30,144,255,40%);
    background-color: rgb(240,248,255,20%);
    color: rgb(240,240,240,85%);  
}

.searchResults p {
    font-size: 150%;
    font-family: Arial;
    font-weight: 500;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px grey;
}


.mainText {
    display: block;
    width: 50%;
    margin-top: 110px;
    margin-left: 50px;
    padding: 20px;
    border-width: 4px;
    border-color: rgb(30,144,255,40%);
    background-color: rgb(240,248,255,20%);
    color: rgb(240,240,240,85%); 
}

.mainText h2 {
    font-size: 200%;
    font-family: Helvetica;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
}

.mainText p {
    font-size: 150%;
    font-family: Arial;
    font-weight: 500;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px grey;
}

.contactForm {
    display: block;
    width: 75%;
    margin-top: 110px;
    margin-left: 170px;
    padding: 20px;
    border-width: 4px;
    border-color: rgb(30,144,255,40%);
    background-color: rgb(240,248,255,20%);
    color: rgb(240,240,240,85%);
}